body {
    margin: auto;
    width: 960px;
}

header {
    border-bottom: 1px solid #E0E0E0;
    float: left;
    height: 128px;
    position: relative;
    width: 100%;
    margin-bottom: 50px;
}

#content {
    float: left;
    width: 100%;
}

nav {
    bottom: 10px;
    position: absolute;
    right: 0px;
}

nav ul {
    float: left;
    list-style-type: none;
}

nav li {
    float: left;
    margin-left: 20px;
}

nav li a {
    color: #585858;
    font-family: Arvo;
    font-size: 18px;
}

nav li a:hover {
    color: #990000;
}

a {
    text-decoration: none;
}

h1, h2, p, li {
    color: #585858;
    font-family: Arial;
}

#cover {
    float: left;
    width: 100%;
}

#cover h1 {
    font-family: Arvo;
    font-size: 48px;
    font-weight: bold;
}

#cover h2 {
    font-size: 36px;
}

#cover-left p {
    font-size: 13px;
    line-height: 1.4em;
    margin: 35px 0px 35px 0px;
}

/* TODO: Simplify so the image shows up without height/width specified */
#cover a {
    background-image: url("/static/contact1.png");
    float: left;
    height: 49px;
    width: 147px;
}

#cover a:hover {
    background-image: url("/static/contact2.png");
}

#cover img {
    float: right;
}

#cover-left {
    float: left;
    width: 380px;
}

#cover-bottom {
    border-bottom: 1px solid #E0E0E0;
    border-top: 1px solid #E0E0E0;
    float: left;
    padding: 15px 0px;
    width: 100%;
    margin-top: 50px;
}

#cover-bottom p {
    font-size: 12px;
    float: left;
    width: 120px;
}

#cover-bottom ul {
    float: right;
    list-style-type: none;
}

#cover-bottom li {
    float: left;
    font-family: Arvo;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-left: 40px;
    text-transform: uppercase;
}
