/* 

gray (7.5%): ececec;
gray (70%):  4d4d4d;

*/


body {
    margin: auto;
    width: 960px;
}

p {
    line-height: 1.3em;
}

a {
    text-decoration: none;
}

h1, h2, p, li, label {
    color: #4d4d4d;
    font-family: Ubuntu;
}

h1 {
    font-family: Ubuntu;
    font-size: 48px;
    font-weight: bold;
}

h2 {
    font-size: 36px;
}

header {
    border-bottom: 1px solid;
    position: relative;
    margin-bottom: 50px;
}

header img {
    margin: 10px 0px;
}

#content {
    float: left;
    width: 100%;
}

nav {
    bottom: 10px;
    position: absolute;
    right: 0px;
}

nav ul {
    float: left;
}

nav li {
    float: left;
    margin-left: 20px;
}

nav li a {
    color: #585858;
    font-family: Arvo;
    font-size: 18px;
}

nav li a:hover {
    color: #b90000;
}

/* For highlighting purposes */
#cover, #cover h1, #cover h2, #cover p {
    float: left;
}

#cover p {
    margin: 50px 0px;
    width: 380px;
}

#cover img {
    float: right;
}

#cover p a {
    color: #990000;
    text-decoration: underline;
}

/* TODO: Simplify so the image shows up without height/width specified */
.button {
    background-image: url("/static/contact1.png");
    float: left;
    height: 49px;
    width: 147px;
}

.button:hover {
    background-image: url("/static/contact2.png");
}

footer {
    border-top: 1px solid;
    float: left;
    padding: 15px 0px;
    width: 100%;
    margin: 150px 0px 20px 0px;    
}

footer p {
    font-size: 12px;
    float: left;
    width: 120px;
}

footer ul {
    float: right;
    list-style-type: none;
}

footer li {
    float: left;
    font-family: Arvo;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-left: 40px;
    text-transform: uppercase;
}

#contact_info h1 {
    float: left;
}

form {
    float: left;
    margin-right: 40px;
}

input[type="text"], textarea {
    clear: right;
    font-family: Arial; /* Needed for textarea */
    font-size: 16px;
    float: left;
    letter-spacing: 1px;
    margin: 0px 0 20px 0px;
    padding: 5px;
    width: 360px;
}

input[type="text"].error, textarea.error {
    background-color: #ff6355;
    color: #fff;
}

label {
    clear: left;
    display: block;
    font-family: Arial;
    font-size: 20px;
    float: left;
    margin-right: 30px;
    position: relative;
    text-align: right;
    top: 10px;
    width: 140px;
}

label.required {
    font-weight: bold;
}

#contact_info img {
    float: left;
}

input[type="submit"] {
    clear: both;
    float: right;
    font-size: 16px;
    padding: 5px;
}

#contact_info p, #thanks_info p {
    margin-top: 20px;
    float: left;
    width: 360px;
}

header, footer {
    border-color: #ececec;
}
