{% extends "base.html" %}

{% block title %}Quote Calculator{{ quote.id }}{% endblock %}

{% block content %}
    <h1>{% block calc_title %}{% endblock %}</h1>

    {% if tasks %}
        <h2>Instant Quote</h2>

        <section id="quote_options">
            <form method="post" action=".">{% csrf_token %}
                {{ quote_form.non_field_errors }}

                {% for task in tasks %}
                    {% ifchanged task.sub_category %}
                        <h3>
                        {% if not task.sub_category %}
                            General
                        {% else %}
                            {{ task.sub_category }}
                        {% endif %}
                        </h3>
                    {% endifchanged %}
                    <label for="id_tasks_{{ task.id }}">
                        <input id="id_tasks_{{ task.id }}" type="checkbox" value="{{ task.id }}" name="tasks">
                        {{ task.name }} <span>({{ task.hours }} hours)</span>
                    </label>
                {% endfor %}

                <input type="submit" value="Get Quote" />
            </form>
        </section>
    {% else %}
        <p>There isn't an instant quote for this type of project yet. You will have to manually <a href="{% url contact %}">contact</a> us to get a price.</p>
    {% endif %}
{% endblock %}
