{% extends "base.html" %}

{% block title %}Quote #{{ quote.id }}{% endblock %}

{% block content %}
    <h1>Quote #{{ quote.id }}</h1>
    <h2>{{ quote.creation_date }}</h2>

    <section id="quote_options">
        <ul>
        {% for task in quote.tasks.all %}
            {% ifchanged task.sub_category %}
                <h3>
                {% if not task.sub_category %}
                    General
                {% else %}
                    {{ task.sub_category }}
                {% endif %}
                </h3>
            {% endifchanged %}
            <li>{{ task.name }} <span>({{ task.hours }} hours)</span></li>
        {% endfor %}
        </ul>

    </section>

    <div class="info_box">
        <p>Assuming there isn't any additional requirements the cost will be <span>${{ quote.current_estimate }}</span>.</p>
        <p>If you have any questions and/or would like to work together please <a href="{% url contact quote_id=quote.id %}">contact</a> us.</p>
    </div>
{% endblock %}
