<!DOCTYPE html>
<html lang="en">
<head>
    <link href='http://fonts.googleapis.com/css?family=Arvo:regular,bold' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&v1' rel='stylesheet' type='text/css'>
    <title>Wichita Code | {% block title %}{% endblock %}</title>
    <link rel=stylesheet href="{{ STATIC_URL }}style.css" type="text/css" />
    <link rel="shortcut icon" href="{{ STATIC_URL }}favicon.ico" />
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-23901885-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
</head>

<body>
    <div id="container">
        <header>
            <a href="{% url home %}"><img src="{{ STATIC_URL }}wichitacode-logo.png" width="128" height="128" alt="Wichita Code" /></a>
            <nav>
                <ul>
                    <li><a href="{% url home %}">Home</a></li>
                    <li><a href="{% url contact %}">Contact</a></li>
                </ul>
            </nav>
        </header>
        
        <div id="content">
            {% block content %}{% endblock %}
        </div>
    </div>
    
    <footer>
        <p>Services offered by our company</p>
        <ul>
            <li>Mobile Apps</li>
            <li>Website Design</li>
            <li>Desktop Apps</li>
            <li>Alot More</li>
        </ul>
    </footer>
</body>
</html>
