{% extends "base.html" %}

{% block title %}Contact{% endblock %}

{% block content %}
    <section id="contact_info">
        <form method="post" action=".">{% csrf_token %}
            <label for="id_name" class="required">Name</label>
            <input id="id_name" type="text" name="name" 
                {% if contact_form.name.errors %}
                    class="error"
                {% endif %}
            />
            
            <label for="id_email" class="required">Email</label>
            <input id="id_email" type="text" name="email" 
            {% if contact_form.email.errors %}
                class="error"
            {% endif %} />
            
            <label for="id_company">Company</label>{{ contact_form.company }}
            <label for="id_phone_number">Phone Number</label>{{ contact_form.phone_number }}
            
            <label for="id_message" class="required">Message</label>
            <textarea id="id_message" name="message" cols="40" rows="10"
            {% if contact_form.message.errors %}
                class="error"
            {% endif %} 
            >
            </textarea>
            
            <input type="submit" value="Send Message" />
        </form>
        <h1>Get In Touch</h1>
        <p>To get started, send us a message letting us know what type of project you need help with.</p>
        <p>Please allow 1-2 days for our response -- you might even receive a response the same day.</p>
    </div>
{% endblock %}
