{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    <section id="cover">
        <img src="{{ STATIC_URL }}cover.png" />
        <h1>Wichita Code</h1>
        <h2>Software Consulting</h2>
        <p>We work with small to large businesses to provide quality software at a reasonable price. If there's any way that we can help you, please <a href="{% url contact %}">contact us</a>.</p>
        <a class="button" href="{% url contact %}"></a>
    </section>
{% endblock %}
